@charset "UTF-8";



@media screen and (min-width: 320px) and (max-width: 767px) {

  

    

    body {

        width: 100%;

        height: 100%;

        background-color: #F3F3F3;

        display: flex;

        align-items: center;

        justify-content: center;

        flex-direction: column;

        background-image: linear-gradient(to bottom, #313030, #636262, #F6C12F);

        background-attachment: fixed;

       

    

    }


    header {

        display: flex; 
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100px;
        padding: 20px 0px;
        top: 0px;
        z-index: 1;
        background-color:none ;
        background-image: none;
    }


    header > nav {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }



    header > nav > img {

       width: 65%;

    }



    .linha {

        background-image: url('../images/fachadas-webp/linha.html');

        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;

        width: 80%;

        height: 4px;

        

    }



    main {

        display: flex; 

        flex-direction: column;

        align-items: center;

        width: 100%;

        padding: 5px 5px;

        

        

        gap: 0;

        background-color: #F3F3F3;

    }



    section#banner {
        content: 'a';
        display: flex;
        flex-direction: row;
        clip-path: none;
       
        background-image: url('/images/backgroundsmall.jpeg');
         width: 100%;
        height: 400px;
         background-position: 29% 29%;
        background-attachment: initial;
         background-repeat: repeat;
        
       
         background-size:contain;
          
      }

      section#banner > div#container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
       
        padding: 0px;
        margin: 0px;
        gap: 30px;
        width: 100%;
        display: none;
    }
      
      
      section#banner > img{
        display: none;
        
      
        }





        section#fotos {
            display: none;
            position: relative;
            flex-direction: row;
            width: 100%;
            height: 300px;
            
            
            
            
        }
        
        section#fotos > div#galeria-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: scroll;
           
           
        }
        
        section#fotos > div#galeria-wrapper > div#galeria {
            display: flex;
            flex-direction: row;
            width: 1000px;
            gap: 1px;
        }
        
        section#fotos > div#galeria-wrapper::-webkit-scrollbar {
        
            display: none;
        
          }
        
        
        .arrow-left, .arrow-right {
        
            position: absolute;
            top: 126px;
            font-size: 40px;   
            right: auto;
            border: 1px solid white;
            width: 30px;
            height: 48px;
            text-align: center;
            color: #000;
            cursor: pointer;
            opacity: 0.5;
            background-color: #F6C12F;
            transition: all 600ms ease-in-out
        
        
        }
        
        
        
        .arrow-right {
        
            left: auto;
            font-size: 40px;
            right: 0;
            text-align: center;
        
        }
        
        
        
        .arrow-left:hover {
        
            opacity: 1;
        
        }
        
        
        .arrow-right:hover {
        
            opacity: 1;
        
        }
        
        .active {
            background-color: #000;
        }
        
        











        section#sobre{

    

            display: flex;
            
            flex-direction: column;
            padding: 80px 0px;
            text-align: center;
            width: 100%;
            height: 900px;
            background-color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 20% 60%;
            align-items: center;
            justify-content: center;
           
            }
        
           
        
        
          
        
            section#sobre > div#container{
                display: flex;
                flex-direction: column;
                justify-content: center;
            align-items: center;
            text-align: center;
                gap: 50px;
                text-align: center;
               width: 100%;
               padding: 0px 20px;
            
                
            
                }
        
                section#sobre > div#container > div#video > iframe {
                    text-align: center;
                    box-shadow: 0px 0px 1px #000;
                    border-radius: 5px;
                    width: 100%;
                }
        
                section#sobre > div#container > div#video{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 8px;
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }
        
                section#sobre > div#container > div#video h1{
                    color: #000;
                   
                }
        
        
                section#sobre > div#container > div#texto {
                    
            text-align: center;
            color: #000;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            height: 350px;
                    
                
                    }
        
                section#sobre > div#container > div#texto > p {
                    font-size: 18px;
            text-align: left;
            color: #000;
            display: flex;
            flex-direction: column;
            gap: 5px;
            line-height: 1.1em;
                
                    
                
                    }
        
                    
                section#sobre > div#container > div#texto > h2 {
                
            color: #000;
            letter-spacing: 0.5px;
           
                    
                
                    }
        
        
       



                                            
                                                    

                                                                        section.galeria > hr {

                                                                            width: 96%;
                                                                            background-color: #000;
                                                                           
                                                                           
                                                                           
                                                                           
                                                                           }







                                                                           section#depoimentos{

    

                                                                            display: none;
                                                                            
                                                                            text-align: center;
                                                                            background-image: url('../images/fundo.webp');
                                                                            width: 100%;
                                                                            justify-content: center;
                                                                            align-items: center;
                                                                            flex-direction: column;
                                                                            flex-wrap: wrap;
                                                                            text-align: center;
                                                                            padding: 60px 20px;
                                                                            gap: 1rem;
                                                                            color: #fff;
                                                                            position: relative;
                                                                        
                                                                        
                                                                            
                                                                        
                                                                            }
                                                                        
                                                                           
                                                                        
                                                                        
                                                                          
                                                                        
                                                                            section#depoimentos > div#container{
                                                                                display: flex;
                                                                                flex-direction: column;
                                                                                justify-content: center;
                                                                            align-items: center;
                                                                            text-align: center;
                                                                                gap: 20px;
                                                                               width: 100%;
                                                                            
                                                                                
                                                                            
                                                                                }
                                                                                
                                                                                section#depoimentos > div#container h1 {
                                                                                    color: #f5c02f;
                                                                                    font-weight: normal;
                                                                                    font-size: 31px;
                                                                                    
                                                                                
                                                                                    }
                                                                        
                                                                                    section#depoimentos > div#container h2 {
                                                                                        color: #fff;
                                                                                       text-align: left;
                                                                                        font-weight: lighter;
                                                                                        font-size: 23px;
                                                                                        width: 100%;
                                                                                        
                                                                                    
                                                                                        
                                                                                    
                                                                                        }
                                                                        
                                                                                section#depoimentos > div#container > div#cima{
                                                                                    display: flex;
                                                                                    gap: 5px;
                                                                                    flex-direction: column;
                                                                                   
                                                                                
                                                                                    
                                                                                
                                                                                    }
                                                                        
                                                                                    section#depoimentos > div#container > div#baixo{
                                                                                        display: flex;
                                                                                        gap: 5px;
                                                                                        flex-direction: c;
                                                                                       display: none;
                                                                                    
                                                                                        
                                                                                    
                                                                                        }
                                                                        
                                                                                section#depoimentos > div#container iframe{
                                                                                   
                                                                                   width: 100%;
                                                                                   
                                                                                border-radius: 5px;
                                                                                    
                                                                                
                                                                                    }










    section.galeria {
        background-color: #fff;
        display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-direction: column;
      align-items: center;
        width: 100%;
      padding: 60px 20px;
      position: relative;
      
      
      
      
      }
    
      
      
    section.galeria > div#container {
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      gap: 20px;
      align-items: center;
        position: relative;
      
        width:  100%;
    
      
      
      
      
      }
    
    
      section.galeria > div#container img {
    
      
      
        width:  100%;
       
      
      
      
      }
    
      section.galeria > h1 {
    
        text-align: left;
        font-size: 31px;
      
      
      
      
      }
    
      section.galeria > hr {
    
       width: 90%;
       background-color: #000;
      
      
      
      
      }
      
      
      


    section#contato {

        display: flex;
    
        flex-direction: column;
         flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
        padding: 80px 20px;
        width: 100%;
       background-color: #116A16;
    border-radius: 0px 0px 0px 0px;
    
    }
    
    section#contato > div#container {
        display: flex;
    
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        gap: 55px;
        
        width: 100%;
       background-color: #116A16;
    
    }
    
    
    
    section#contato > div#container >  div#formulario {
    
        display: none;
    
        flex-direction: column;
    
        gap: 10px;
        width: 100%;
        text-align: center;
        
    
        
    
    }
    
    section#contato > div#container >  div#formulario > h1 {
        font-weight: normal;
       color: #fff;
    
        
    
    }
    
    
    
    section#contato > div#container > div#formulario > form {
    
    
        display: flex;
    
        flex-direction: column;
        justify-content: center;
    
        gap: 2px;
        
    
    }
    
    
    
    section#contato > div#container >  div#formulario > form > label {
        display: inline-block;
      font-size: 15px;
      }
    
    
    
      section#contato > div#container > div#formulario > form > input#referencia2 {
    background-color: #fff;
    padding: 10px;
    height: 40px;
      }
    
    
    
    section#contato > div#container >  div#formulario > form > input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 0px solid black;
      }
    
    
    

    
    
      section#contato > div#container >  div#formulario > form > textarea {
        width: 100%;
        height: 120px;
        border: 0px;
        border-radius: 5px;
      }
    
    
    
      section#contato > div#container >  div#formulario > form > input[type=submit] {
       background-color: #313030;
       height: 50px;
       color: white; 
       width: 100%;
      }
    
    
    
      section#contato > div#container >  div#naosepreocupe {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        list-style-position: inside;
    }
    
    section#contato > div#container >  div#naosepreocupe p{
     color: #fff;
    }  
    section#contato > div#container >  div#naosepreocupe ul li{
       text-align: left; 
       }
       

    section#contato > div#container >  div#naosepreocupe li{
        color: rgba(255, 255, 255, 0.733);
       }
    section#contato > div#container >  div#naosepreocupe img {
    
        width: 50px;
    }
    
    
    
    section#contato > div#container >  div#contatoinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 322px;
        width: 100%;
        gap: 12px;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
    }
    
    section#contato > div#container >  div#contatoinfo  h1{
        font-weight: normal;
        color: #fff;
    }
    
    section#contato > div#container >  div#contatoinfo  strong{
        font-weight: normal;
        color: #6EEB83;
    }
    
    
    section#contato > div#container >  div#contatoinfo > h1 > svg{
        filter: brightness(0) saturate(100%) invert(72%) sepia(80%) saturate(308%) hue-rotate(72deg) brightness(99%) contrast(90%);
    }
    
    
    section#contato > div#container >  div#contatoinfo  a{
    font-style: normal;
    text-decoration: none;
    color: #EAF5E0;
    font-weight: normal;
    font-size: 17px;   
    }
    
    section#contato > div#container >  div#contatoinfo  img{   
        width: 70px;  
    }
    
    section#contato > div#container >  div#contatoinfo  svg{  
        filter: brightness(0) saturate(100%) invert(6%) sepia(18%) saturate(4%) hue-rotate(318deg) brightness(96%) contrast(86%);
    }
    


    footer {

        display: flex;
    
        flex-direction: column;
    
        
    
        padding: 60px 0px;
    
        justify-content: space-evenly;
    
        align-items: center;
    
        text-align: center;
    
        color: #fff;
        background-image: linear-gradient(to bottom, #313030, #636262);
        width: 97%;
    
    }
    
    
    footer > div#container{
    
        display: flex;
    
        flex-direction: column;
    
      
    
        justify-content: space-between;
    
        align-items: center;
    
        text-align: center;
        gap: 20px;
        color: #fff;
      
        width: 96%;
    
    }
    
    footer > div#container > div#row{
    
        display: flex;
    
        flex-direction: column;
    
      
    
        justify-content: space-between;
    
        align-items: center;
    
        text-align: center;
        gap: 20px;
        color: #fff;
       
        width: 96%;
    
    }
    
    footer > div#container > div.copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    
    }
    
    footer > div#container > div#row p{
    
       
        color: #fff;
      
    
    }
    
    footer > div#container > div#row ul li{
    
       
        list-style-type: none;
    
    }
    
    footer > div#container > div#row h4{
    
       font-size: 25px;
        color: #f5c02f;
      
    
    }
    
    .altura{
    
       height: 100px;
        
    }
    
    footer > div#container > div#row > div#sobre{
    
       
        width: 100%;
    
    }
    
    footer > div#container > div#row ul li p{
    
        
        color: #fff;
        
    
    }
    
    
    
    footer img {
    
        display: flex;
        padding-bottom: 5px;
        padding-top: 2x;
        width: 80px;
    
        filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(101%) hue-rotate(7deg) brightness(117%) contrast(100%);
    
        
    
    }
    
    footer > div#container > p {
        font-size: 15px;
        color: #fff;
    }
    
    small {
        font-size: 10px;
        color: #fff;
    }
    
    
    footer svg{
        filter: brightness(0) saturate(100%) invert(100%) sepia(65%) saturate(24%) hue-rotate(315deg) brightness(113%) contrast(92%);
        width: 14px;
        height: 14px;
        
    }
    
    footer a{
        color: #fff;
        text-decoration: none;
        font-style: normal;
        
    }
    
    
    
    footer div#enderecos{
       display: flex;
       flex-direction: row;
       gap: 15px;
       justify-content: center;
       align-items: center;
    }
}